
# Ignore symlinks created by deployment script
advf-author-pane.tpl.php
favicon.ico
lib.inc.php
logo.jpg
node.tpl.php
page.tpl.php
screenshot.png
script.js
style.css
template.php

#
# Ignore the (automatically-created) .info file in the current directory,
# but we do want to include everything in infos/*.
#
*.info
!infos/*

